// VARIABLES
$bluelight: #206e8b;
$bluedark: #102246;
$blacklight: #333;
$white: #f5f5f5;
// FONTS
@mixin ProxiL{
	font-family: "ProximaNova-Light", sans-serif;
	font-weight: 300;
	font-style: normal;
}
@mixin ProxiR{
	font-family: "ProximaNova-Regular", sans-serif;
	font-weight: 400;
	font-style: normal;
}
@mixin ProxiM{
	font-family: "ProximaNova-Semibold", sans-serif;
	font-weight: 700;
	font-style: normal;
}
@mixin ProxiB{
	font-family: "ProximaNova-Bold", sans-serif;
	font-weight: 800;
	font-style: normal;
}

// PARAMETRIC-MIXIN
@mixin selection(){
	::selection{}
	::-moz-selection{}
}
@mixin opacity ( $value: 0.5 ) {
	opacity: $value;
	-ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=” $value * 100 “)";
	filter: alpha(opacity= $value * 100 );
	zoom: 1;
}
@mixin antialias {
	-webkit-font-smoothing: antialiased;
	-webkit-text-size-adjust: 100%;
	text-rendering: optimizeLegibility;
}
@mixin resetlist{
	list-style: none outside none;
	padding: 0;
	margin: 0;
}
@mixin circle( $size: 35px ){
	text-align: center;
	display: inline-block;
	line-height: $size;
	height: $size;
	width: $size;
	border-radius: 50%;
}
@mixin placeholder(){
	::-webkit-input-placeholder {
		color: $white;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $white;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		color: $white;
	}
	:-ms-input-placeholder {  
		color: $white;
	}
}

@mixin placeholderBgTransparent(){
	::-webkit-input-placeholder {
		color: $white;
		text-transform: capitalize;
	}
	:-moz-placeholder { /* Firefox 18- */
		color: $white;
		text-transform: capitalize;
	}
	::-moz-placeholder {  /* Firefox 19+ */
		color: $white;
		text-transform: capitalize;
	}
	:-ms-input-placeholder {  
		color: $white;
		text-transform: capitalize;
	}
}

@mixin bordradius( $value: 12px ){
	border-radius: $value;
}