/*  TABLE OF CONTENTS
/* -------------------------------------------
GENERAL SECTION
HEADER SECTION
FOOTER SECTION
MEDIA QUERIES
/* ----------------------------------------- */

// TYPOGRAPHY
@import "typography";
// VARIABLES & PARAMETRIC-MIXIN
@import "variablesparametricmixin";

/*  GENERAL SECTION
/* ------------------------------------------ */
body, html{
	height: 100%;
}
body{
	@include ProxiR;
	line-height: 1.8;
	font-size: 16px;
	color: $blacklight;
}

a{
	&:hover,
	&:focus{
		text-decoration: none;
	}
}

h1, h2, h3, h4, h5, h6{
	@include ProxiB;
	color: $blacklight;
}
h1{}
h2{}
h3{}
h4{}
h5{}
h6{}

figure{
	img{}
}
.alignleft{
	margin-bottom: 15px;
	margin-right: 30px;
	img{}
}
.alignnone{
	margin-bottom: 15px;
	text-align: center;
	img{
		display: inline-block;
		margin: auto;
	}
}
.alignright{
	margin-left: 30px;
	margin-bottom: 15px;
	img{}
}
img{
	max-width: 100%;
	height: auto;
}
iframe{}

.video-container{}

// SPACE
$spacing:
	( space15, 15px),
	( space30, 30px );

@each $class-space, $prop-space in $spacing{
	.#{$class-space}{
		width: 100%;
		height: $prop-space;
	}
}

// BACKGROUND-COLOR
$bgcolor:
	( bluedark, $bluedark ),
	( bluelight, $bluelight );
@each $namebg, $hexbg in $bgcolor{
	.bg-#{$namebg}{
		background-color: $hexbg;
		color: white;
	}
}

ul, ol{}
ul{}
ol{
	li{}
}
ol ol li{}

ol ol ol li{}

.list-socmed{
	li{}
	a{}
}
.cb{
	clear: both;
}

// BUTTONS
.btn{}
.btn-box{}
.btn-gold{}
.btn-line-gold{}

// FIELDS
@include placeholder();
input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea,
.combo-box{
	width: 100%;
	border: none;
	height: 50px;
	line-height: 50px;
	padding: 0 15px;
}

input[type="text"],
input[type="email"],
input[type="password"],
input[type="url"],
input[type="search"],
textarea{
	color: $white;
	&:hover,
	&:focus,
	&:active{
		outline: 0px !important;
		-webkit-appearance: none;
	}
}

textarea{
	resize: horizontal;
}

.combo-box{
	padding: 0;
	.dropdown-toggle{
		background-color: white;
		display: block;
		width: 100%;
		padding: 0 15px;
		i{
			float: right;
			line-height: 50px;
		}
	}
	.dropdown-menu{
		width: 100%;
		border-radius: 0;
		padding: 0;
		li{}
		a{
			text-transform: capitalize;
			padding: 12px;
			display: block;
			color: $blacklight !important;
			font-size: 13px;
			font-weight: bold;
			&:hover,
			&:focus{
				background-color: $bluelight;
				color: white !important;
			}
		}
	}
}

// FORM
form{
	.field{
		margin-bottom: 15px;
	}
	.label-field{}
}
.form-start-each,
.form-download{
	@include placeholderBgTransparent;
	.field{
		margin-bottom: 20px;
	}
	input,
	textarea,
	.combo-box a{
		background-color: transparent;
		border: 1px solid white;
		color: $white;
	}
	input[type="submit"]{
		background-color: $white;
		color: $bluedark;
		text-transform: uppercase;
		font-size: 21px;
		font-weight: bold;
		width: 100%;
		line-height: 50px;
		height: 50px;
		transition: all 350ms ease;
		&:hover,
		&:focus{
			background-color: $bluelight;
			border-color: $bluelight;
			color: white;
		}
	}
	input[type="checkbox"]{
		display: none;
		&:checked{
			+label{
				&:before{
					background-image: url("../images/check.png");
					top: 10px;
					left: -7px;
				}
			}
		}
		+label{
			display: inline-block;
			padding-left: 5px;
			vertical-align: middle;
			position: relative;
			color: white;
			font-weight: normal;
			font-size: 16px;
			cursor: pointer;
			&:before{
				content: "";
				display: inline-block;
				width: 28px;
				height: 28px;
				top: 12px;
				left: -5px;
				background-image: url("../images/uncheck.png");
				background-position: 0 0;
				background-repeat: no-repeat;
				position: relative;


			}
		}
	}
}
.form-download{}

// CONTENT
.content-header{
	text-align: center;
	margin-bottom: 30px;
}
.title-content{
	color: $bluelight;
	margin-top: 0;
	text-transform: uppercase;
	font-size: 32px;
}
.title-sm{
	color: $bluelight;
	font-size: 25px;
	margin:0;
	margin-bottom: 25px;
	font-weight: 600;
}
.subtitle-content{
	margin-top: 15px;
	margin-bottom: 0;
	font-size: 18px;
}

.content-section{
	position: relative;
	padding-top: 45px;
}
.mask-section{
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	width: 100%;
	background-color: rgba( $bluedark, .7 );
}
.content-section-divide{
	position: relative;
	overflow: hidden;
}
.box-divide{
	position: relative;
	min-height: 630px;
	padding: 45px;
}

.divide-first,
.divide-second{
	.title-content,
	.subtitle-content,
	p{
		color: white;
	}
}

.divide-first{
	background-color: $bluelight;
	&:before{
		content: "";
		position: absolute;
		background-color: $bluelight;
		right: 100%;
		top: 0;
		width: 100vw;
		height: 100%;
	}
}
.divide-second{
	background-color: $bluedark;
	&:after{
		content: "";
		position: absolute;
		background-color: $bluedark;
		left: 100%;
		top: 0;
		width: 100vw;
		height: 100%;
	}
}

.content-banner{
	background-image: url("../images/banner/1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 12% 0;
}
.banner-caption{
	color: white;
	max-width: 960px;
	margin: auto;
	text-align: center;
	.title-banner{
		text-transform: uppercase;
		font-size: 62px;
		color: white;
		margin: 0;
		margin-bottom: 30px;
		line-height: 1;
	}
	p{
		font-size: 21px;
		margin-bottom: 15px;
	}
}

.content-difference{}
.difference-wrapper{}
.list-difference{
	@include resetlist;
	li{
		float: left;
		width: (100%/5);
		position: relative;
		&:last-child{
			&:after{
				background-color: transparent;
			}
		}
		&:after{
			content: "";
			position: absolute;
			top: 0;
			right: 0;
			height: 100%;
			width: 2px;
			background-color: #7aa4b4;
		}
	}
}
.item-difference{
	max-width: 200px;
	min-height: 335px;
	margin: 0 auto 30px;
	text-align: center;
	h3, 
	p{
		padding-left: 15px;
		padding-right: 15px;
	}
	h3{
		font-size: 21px;
		color: $bluelight;
		text-transform: uppercase;
		line-height: 1.4;
	}
	p{
		color: $bluelight;
		line-height: 1.2;
	}
}

.content-workplacemental{
	position: relative;
	background-image: url("../images/banner/1.jpg");
	background-repeat: no-repeat;
	background-position: center center;
	background-size: cover;
	padding: 45px 0;
	color: white;
	p{
		font-size: 18px;

	}
	a{
		font-weight: bold;
		color: white;
		&:hover,
		&:focus{
			color: darken( white, 30% );
		}
	}
	.title-content{
		color: white;
	}
	.container{
		position: relative;
	}
}

.content-partners{
	p{
		font-size: 18px;
		color: $bluelight;
	}
}
#partners{
	margin-bottom: 36px;
}
.partners-container{
	padding: 30px 0;
	border-top: 1px solid #7aa4b4;
	border-bottom: 1px solid #7aa4b4;
	text-align: center;
	overflow: hidden;
}

.item-partners{
	display: inline-block;
	padding: 0 15px 20px;
}

.sponsor-two{
	border-top: 1px solid #7aa4b4;
	overflow: hidden;
}

.sponsor-twoin{
	padding-top: 50px;
	text-align: center;
	ul{
		li{
			display: inline-block;
			margin-bottom: 25px;
		}
	}
	@media screen and (min-width: 62em){
		padding-bottom: 10px;
		text-align: left;
		ul{
			li{
				padding-right: 30px;
			}
		}
		&.platinum{
			
		}
		&.gold{
			border-left: 1px solid #7aa4b4;
			padding-left: 30px;
			ul{
				li{
					width: 48%;
				}
			}
		}
	}
}

.sponsor-one{
	border-top: 1px solid #7aa4b4;
	padding-top: 50px;

	ul{
		text-align: center;
		li{
			display: inline-block;
			padding: 0 15px 20px;
			width: 48%;
			@media screen and (min-width: 48em){
				    width: 33%;
			}
		}
	}
}



/*  HEADER SECTION
/* ------------------------------------------ */
.site-header{}
.logo{}
.main-navigation{
	li{
		>a{}
	}
}

/*  FOOTER SECTION
/* ------------------------------------------ */
.site-footer{
	margin-top: 45px;
	padding: 45px 0;
	background-color: $bluelight;
	h1{
		color: white;
		text-transform: uppercase;
	}
}
.copyright{}
.backtotop{}

/*  RESPONSIVE-MENU
/* ------------------------------------------ */
.nav-sidebar{
	display: none;
}
.close-nav-sidebar{}
.append-nav{
	li{}
	a{}
}

.wrapper{}
.wrapper-inner{}

/*  MEDIA QUERIES
/* ------------------------------------------ */
@media (max-width: 1200px) {
}
@media (max-width: 995px) {
	.item-partners{
		width: (100%/2);
		float: left;
		margin-bottom: 30px;
	}
	.form-download{
		margin-top: 45px;
	}
	.list-difference{
		li{
			width: (100%/2);
			&:after{
				background-color: transparent;
			}
		}
	}
	.banner-caption{
		.title-banner{
			font-size: 48px;
			margin-bottom: 15px;
		}
		p{
			font-size: 18px;
			margin-bottom: 10px;
			line-height: 1.4;
		}
	}
	.content-header{
		.title-content{
			font-size: 26px;
		}
		.subtitle-content{
			font-size: 16px;
		}
	}
	.content-section-divide{
		.container{
			width: 100%;
		}
	}
	.box-divide{
		padding: 45px 120px;
	}
}
@media (max-width: 950px) {    

}
@media (max-width: 767px) {
	.box-divide{
		padding: 45px 90px;
		min-height: auto;
	}
}
@media (max-width: 690px) {
	.box-divide{
		padding: 30px;
	}
	.list-difference{
		li{
			width: 100%;
		}
	}
	.item-difference{
		min-height: auto;
	}
	.item-partners{
		width: 100%;
		margin-bottom: 30px;
	}
}
@media (max-width: 570px) {
}
@media (max-width: 480px) {
}


